page-split-bill-detail {
  .card-header {
    background-color: map-get($colors, primary);
    color: #fff;
  }

  .card-content {
    padding: 0px 16px;
    max-height: 0px;
  }

  .getstart {

    background-image: url('../assets/imgs/bg.png');
    background-repeat: no-repeat;
    background-size: cover;

  }
}
